<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>eID Easy SDK dev demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <h2 class="mt-4 mb-4">eID Easy development demo index</h2>

    <a href="#" id="authWithIDCard" class="btn btn-primary">Authenticate with ID card</a>
</div>


<%- include partials/content.ejs %>

</body>

</html>
