<div class="card mb-3 js-availableMethods">
    <button class="btn btn-dark js-availableMethods_fetchButton">Get available methods</button>
    <button class="btn btn-dark js-availableMethods_fetchButtonAll mt-5">Get all methods</button>
</div>
