<label for="countryPicker">Country:</label>
<select name="countryPicker" id="countryPicker">
    <option value="EE" selected>EE</option>
    <option value="LV">LV</option>
    <option value="LT">LT</option>
</select>
