<div class="card mb-3 js-authMethod" data-method="eparaksts-mobile" data-country="<%= country %>">
    <div class="card-body">
        <h5 class="card-title">eParaksts mobile</h5>
        <a href="#" class="btn btn-dark js-authMethod_start">Authenticate</a>
    </div>
</div>

