<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">ID card</h5>
        <a href="#" id="authWithIDCard" class="btn btn-primary">Authenticate</a>
        <a href="#" id="cancelIDCard" class="btn btn-secondary">Cancel</a>
    </div>
</div>
