<label for="langPicker">Language:</label>
<select name="langPicker" id="langPicker">
    <option value="en">en</option>
    <option value="et" selected>et</option>
    <option value="lv">lv</option>
    <option value="lt">lt</option>
    <option value="ru">ru</option>
</select>
