<% country= 'LT'; %>
<div class="row">
    <div class="col-lg-4">
        <%- include id-card.ejs %>
    </div>
    <div class="col-lg-4">
        <%- include smart-id.ejs %>
    </div>
    <div class="col-lg-4">
        <%- include mobile-id.ejs %>
    </div>
</div>
