<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Mobile ID</h5>
        <form action="" id="authWithMobileId">
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input id="phone" name="phone" type="tel" class="form-control">
                <label for="idcode_mobile">Personal Identification Code</label>
                <input id="idcode_mobile" name="idcode_mobile" type="text" class="form-control">
                <input type="radio" name="countryCode" value="EE" id="phoneCountryCodeEE" checked>
                <label for="phoneCountryCodeEE">EE</label>
                <input type="radio" name="countryCode" value="LV" id="phoneCountryCodeLV">
                <label for="phoneCountryCodeLV">LV</label>
                <input type="radio" name="countryCode" value="LT" id="phoneCountryCodeLT">
                <label for="phoneCountryCodeLT">LT</label>
            </div>
            <button type="submit" class="btn btn-primary">Authenticate</button>
            <a href="#" id="cancelMobileId" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
