<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Smart-ID</h5>
        <form action="" id="authWithSmartId">
            <div class="form-group">
                <label for="idcode">Personal Identification Code</label>
                <input id="idcode" name="idcode" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Authenticate</button>
            <a href="#" id="cancelSmartId" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
